<h1>The Dark Magic Routing</h1>
{% if error is defined %}
    <hr />
    <h2>An error is occured:</h2>
    <p><b>{{ error }}</b></p>
    <hr />
{% endif %}
<p>Please, send a request with this pattern: /{buldle}/{controller}/{action}</p>
<ul>
    {% for controller in controllers %}
      {% for action in controller.actions %}
        <li><a href="/{{ controller.bundle_short }}/{{ controller.controller }}/{{ action }}">{{ controller.bundle_short }}/{{ controller.controller }}/{{ action }}</a></li>
      {% endfor %}
    {% endfor %}
</ul>

{% if bundle is defined and controller is defined and action is defined %}
    <h2>Current: {{ bundle ~ ':' ~ controller ~ ':' ~ action }}</h2>
    <hr />

    {{ render(controller(bundle ~ ':' ~ controller ~ ':' ~ action)) }}
{% endif %}